* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.section-history-cards {
  background-color: #EDEDED;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vh;
  height: 100%;
  padding: 60px;
}
.history-cards {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.section-history-cards .container-cards {
  background-color: #F0ECE3;
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
  margin-top: 40px;
  gap: 30px;
  margin-bottom: 15px;
  padding-bottom: 20px;
  padding-top: 20px;
  min-width: 280px;
}

.section-history-cards .container-cards .container-photo img {
  width: 250px;
  height: auto;
}

.section-history-cards .container-cards .card-tema, img {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
}



/* Media queries */
@media (min-width: 768px) {
  .section-history-cards .container-cards .container-photo img {
    width: 400px;
    height: auto;

  }
}

@media (min-width: 1024px) {
  .section-history-cards .container-cards .container-photo img {
    width: 600px;
    height: auto;
  }
  
}